.star-rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 35px;
}

.star{
  cursor: pointer;
}

.star.hover{
  color: gold;
}
.active{
  color: orange;
}
